table {
	border-collapse: collapse;
	border-spacing: 0;
}

table {
	width: 100%;
	overflow: auto;
 /*box-shadow: 5pt 5pt 8pt #073642;*/
}

table tr {
	border-top: 1px solid #d8d5d5;
}

table th {
	font-weight: bold;
	background: #999999;
}

table th, table td {
	padding: 6px 13px;
	border: 1px solid #d8d5d5;
}

.main_bountytips {
	max-width: 100%;
	margin: auto;
	background-color: #fff;
}

.main_bountytips h1 {
	padding-top: 6px;
	padding-bottom: 5px;
	font-size: 15px;
}

.main_bountytips p {
	margin-bottom: 1px;
}

.main_bountytips p a {
	color: #0366d6;
}

.tips {
	border-bottom: 1px dashed #999;
	padding-bottom: 10px;
	padding-top: 3px;
}

.tips blockquote {
	padding: 0 10px;
	margin: 0;
	color: #666;
	border-left: 4px solid #ddd;
} /*此样式用于让搜索框置顶，暂未启用，需要配合下方注释中的代码一起使用 #search-form { position: fixed; top: 0; left: 0; right: 0; background-color: #f1f1f1; padding: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.3); z-index: 9999; }*/.highlight {
	background-color: yellow;
}

#back-to-top {
	display: none;
 /* 默认隐藏 */
	position: fixed;
 /* 固定在页面中 */
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

#back-to-top:hover {
	background-color: #444;
 /* 鼠标悬停时的背景颜色 */
}